<h1>  Welcome to the Show </h1>

<div style="border: 10px;">
  <img class="center" src ="https://media.giphy.com/media/icUEIrjnUuFCWDxFpU/giphy.gif">
</div>

<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<body>
<div class="center_photo">
  <div class="gallery">
    <a target="_blank" >
      <img src="https://avatars3.githubusercontent.com/u/60679295?s=460&u=f751e9dbd8cedfd3e0c49e08f0a67d9d74266291&v=4" alt="Michael Gallup" width="600" height="400">
    </a>
    <div class="desc">"Wow my team is so great!"</div>
  </div>

  <div class="gallery">
    <a target="_blank" >
      <img src="https://avatars2.githubusercontent.com/u/60168462?s=460&u=5fb307c5a291b2cfeaee7f2a0e53335822fc71e3&v=4" alt="Sage Lee" width="600" height="400">
    </a>
    <div class="desc">"Can't spell team without wow my team is so great!"</div>
  </div>

  <div class="gallery">
    <a target="_blank" >
      <img src="https://avatars0.githubusercontent.com/u/57972448?s=460&u=470cdda6464c4aa4f1cd0e8f07d7f248e49b6b58&v=4" alt="Danny Ramos" width="600" height="400">
    </a>
    <div class="desc">"Could it be more clear? This team is wow!"</div>
  </div>

  <div class="gallery">
    <a target="_blank" >
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEeSq6X82bWbQ/profile-displayphoto-shrink_800_800/0?e=1596672000&v=beta&t=yGCLx1BtCmJPjq3o92f1RLY7kdvkifFL-P3mM2RsVKY" alt="Stella Bonnie" width="600" height="400">
    </a>
    <div class="desc">"This team, this team right here, are angels and wow theyre great!"</div>
  </div>
</div>
</body>