<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>

<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item">
      <% if current_user && current_user.admin? %>
        <h1><%= link_to merchant.name, "/admin/merchants/#{merchant.id}" %></h1>
      <% else %>
        <h1><%= link_to merchant.name, "/merchants/#{merchant.id}" %></h1>
      <% end %>
    </section>
  <% end %>
</section>
