<h1>All Users:</h1>

<% @users.each do |user| %>
  <p><%= link_to "#{user.name}", "/admin/profile/#{user.id}" %></p>
  <p><%= user.email %></p>
  <p><%= user.created_at %></p>
  <p><%= user.role %></p>
<% end %>
